<html>
  <head>
    <link rel=stylesheet type=text/css href='{{ url_for('static',filename='basicstylesheet.css')}}'>
    <link rel="stylesheet" href="http://cdn.pydata.org/bokeh/release/bokeh-0.12.4.min.css" type="text/css" />
    <script type="text/javascript" src="http://cdn.pydata.org/bokeh/release/bokeh-0.12.4.min.js"></script>
    {{ script | safe }}
  </head>
  <body>
    <div class=page>
      <h1>{{ tickersym }}  Stock Prices</h1>
      {{ div | safe }}
      <p> <a href='/index'> Back to try another ticker symbol </a> </p>
    </div>
  </body>
</html>
