<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Quick Reference: Recent Stock Prices</title>

    <link rel=stylesheet type=text/css href='{{ url_for('static',filename='basicstylesheet.css')}}'>>
  </head>
  <body>
    <div class=page>
          <div class=metanv>
		
            <h2>Enter a stock ticker symbol to see its daily opening and closing prices over the past month.</h2>
            <form id='tickerchoice' method='post' action='index'>
		<p>Not sure of the ticker symbol? The NYSE website has an easy list by <a target='blank' href="https://www.nyse.com/listings_directory/stock"> letter</a>.
		</p>
            	<p>
		Ticker symbol: <input type='text' name='tickersym' />
	   	</p
	    	<p>
    		<input type='submit' value='Submit' />
      	    	</p>
    	    </form>
           </div>
     </div>
  </body>
</html>
